<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> index</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Gestão</h1>
        <nav>
            <ul>
                <li><a href="/usuarios">Usuários</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Bem-vindo ao Sistema de Gestão</h2>
            <p>
                Este sistema foi desenvolvido para facilitar o gerenciamento de usuários e
                produtos em um único lugar.
            </p>
            <p>
                Utilize o menu acima para acessar as funcionalidades disponíveis e
                administrar seu negócio de forma prática, rápida e organizada.
            </p>
        </section>
    </main>

    <footer>
        <p>&copy; Todos os direitos reservados pra mim.</p>
    </footer>
</body>
</html>